.bio-page {
  height: 100vh;
  background-color: white;
}

.bio-header {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.bio-form {
  width: calc(100% - 100px);
  margin: 0 auto;
  text-align: center;
}
