.log-workout-btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 26px;
  padding-right: 26px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: auto;
}

.log-workout-btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}


.log-workout-btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.log-workout-container {
  height: 50px;
  display: flex;
}

.card-body {
  width: 115px;
  height: 145px;
  // border-radius: 4px;
  // border-width: 0;
  // box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  // box-sizing: border-box;
  // color: #36395A;
  background-color: white;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 0px 15px 0px white;
  opacity: 0.9;
  transition: 0.5s;
  border-radius: 10px;
  padding-top: 5px
}

.card-body:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  opacity: 1;
}

.workout-btn {

  font-size: small;
}

.card-body a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: smaller;

}

.card-title {
  margin: auto;
  text-decoration: none;
  color: black;
}

.workout-links {
  text-align: center;
  cursor: pointer;
}

.workout-container {
  justify-content: flex-start;
  max-width: 400px;
  margin: auto;
  padding-right: 10px
}

.workout-page {
  height: 100vh;
  background-color: gainsboro;
  font-family: "JetBrains Mono", monospace;
  background-size: cover;
  background-position: center;
}
