// Specific CSS for your home-page
// .navbar-lewagon {
//   display: none;
// }

.pages-home-page {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.intro {
  display: flex;
  text-align: center;
  // background-color: rgba(63, 87, 206, 0.8);
  background-color: white;
  position: relative;
  justify-content: space-evenly;
  height: 100px;
}


.home-btn {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: auto;
  // background-image: linear-gradient(45deg, #654ea3, #eaafc8);

}

.home-btn a {
  background-color: black;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto 10px;
}

.intro h1 {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-inline: auto;
  margin: auto;
}


.home-img {
  height: calc(100% - 100px);
  background-position: center;
  background-size: cover;

}

.home-img h2 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
