.my-feed-header p {
  text-align: center;
  margin-top: 10px;
  border-radius: 50px;
  padding: 5px 50px;
  background-color: #44AA8B;
  color: white;
  width: 250px;
  margin: auto;
  font-family: "JetBrains Mono", monospace;

}

.my-feed-header {
  margin-top: 10px;
  margin-bottom: 5px;

}

.post-header a {
  text-decoration: none;
  color: black;
}

.post-header p {
  margin: auto 0;
}
