.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
// @media (max-width: 800px) {
//   .flex-container {
//     flex-direction: column;
//   }
// }

.flex-container>img {
  object-fit: contain;
  object-position: center;
  display: flex;
  margin: 0 auto;
}

.flex-container p {
  text-align: center;
}

.post-header {
  display: flex;
  width: inherit;
  text-align: left;
  margin-top: 4px;
  height: 40px
}

.post-header img {
  margin: auto 0;
  margin-right: 10px;

}


.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.post-header a {
  display: flex;
}

#username-profile>p {
  margin: auto 0;
  color: black;
}


.my-feed-link {
  margin: auto;
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px 90px;
  background-color: #44AA8B;
  color: white;
  display: flex;
}

.my-feed-link>a p {
  margin: auto 0;
}

.my-feed-link a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: white;
}

.fa-face-grin-hearts {
  display: flex;
  text-decoration: none;
  color: black;
  margin: auto 0;
  color: white;

}

.fa-face-grin-hearts {
  margin-left: 5px;
  color: black;
  color: white;
}

.my-feed-container {
  display: flex;
  margin-top: 9px;
}

.my-feed-link a>p {
  margin: 0 5px;
}

.new-user-container {
  background-color: lightgray;
  padding: 1px;

}

.new-user-container img {
  margin-left: 5px;
}
