

<div class="pages-home-page">
    <div class="intro">
      <h1>:: FITSPO</h1>
        <div class="home-btn">
          <%=link_to "Login", account_session_path%>
          <%=link_to "Sign-up", new_account_registration_path%>
        </div>
    </div>
  <div class="home-img" style="background-image: url('https://res.cloudinary.com/di4vjvhde/image/upload/v1664382048/fitspo/gabin-vallet-J154nEkpzlQ-unsplash_nvuzok.jpg')">
    </div>
</div>
