<div class="pages-home-page" style="background-image: url('https://res.cloudinary.com/di4vjvhde/image/upload/v1664382048/fitspo/gabin-vallet-J154nEkpzlQ-unsplash_nvuzok.jpg')">
  <div class="intro">
    <h1>Welcome to FITSPO!</h1>
    <h4>Start your journey here</h4>
    <%=link_to "Login", account_session_path%>
    <%=link_to "Sign-up", new_account_registration_path%>
  </div>
</div>
