<p><img src="<%=cl_image_path current_account.avatar.key %>" alt="" class="user-avatar-mini" style="margin-right: 10px;"><%= current_account.username %>- <%= comment.created_at.to_date %><br/><%= comment.content %></p>
