
<div class="new-post-page" style="background-image: url('https://source.unsplash.com//__QqvTI5Edc')">
  <div class="new-post-container">
    <p>Update people on your goals, post recipes or share your workouts!</p>
    <%= simple_form_for @post do |f| %>
      <%= f.input :photo, as: :file, :label =>"Upload a pic"%>
      <%= f.input :content, :label => "Write a caption"%>
      <%= f.button :submit, :class =>"post-btn" %>
    <% end %>
  </div>
</div>
