.accounts-form {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.accounts-form a {
  background-color: black;
  padding: 8px 18px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
}

.accounts-form .btn {
  background-color: black;
  margin: 10px;
  color: white;
  border-radius: 5px;

}

.accounts-body-page {
  text-align: center;
}
