.follow-btn {
  border: 1px solid black;
  padding: 5px;
  border-radius: 50px;
  background-color: black;
  color: white;
}

.workout-btn {
  background-color: white;
  height: 10px;
}

.workout-btn>p {
  font-size: 10px;
}
