.follow-btn {
  padding: 5px;
  border-radius: 50px;
  background-color: #44AA8B;
  color: white;
  font-family: "JetBrains Mono", monospace;

}

.workout-btn {
  background-color: white;
  height: 10px;
  font-family: "JetBrains Mono", monospace;

}

.workout-btn>p {
  font-size: 10px;
  font-family: "JetBrains Mono", monospace;

}

.btn-success {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-family: "JetBrains Mono", monospace;

}
