.navbar-lewagon {
  justify-content: space-around;
  background: white;
  position: sticky;
  top: 0;
  background-color: black;
  font-weight: bold;
  height: 60px;
}

.nav-link {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.container-fluid i {
  color: white
}

.container-fluid li {
  display: inline-block;
  width: 50px;
  text-align: center;
}
