.new-post-page {
  height: calc(100vh - 60px);
  background-position: center;
  background-size: cover;
  margin: 0;
  display: flex;
}


.new-post-container {
  width: 350px;
  margin: auto;
  margin-top: 30px;
  background-color: #4BA3C3;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}
