.new-post-page {
  height: 100vh;
  background-position: center;
  background-size: cover;
  // margin: 0;
  display: flex;
}


.new-post-container {
  width: 350px;
  margin: auto;
  margin-top: 30px;
  background-color: #4BA3C3;
  padding: 10px 20px;
  background-color: white;
  // opacity: 0.9;
  border-radius: 15px;
}

.new-post-container p {
  text-align: center;
}

.post-btn {
  background-color: orange;
  color: black;
  border-radius: 6px;
}
