<h1>Feed</h1>
<h1>Users:</h1>
<ul>
  <%= render @accounts %>
</ul>
  <div class="flex-container">
      <% @posts.each do |post|%>
      <p><%= post.account.username %></p>
        <%=link_to post_path(post) do %>
      <%=cl_image_tag post.photo.key, width:400, height: 200, crop: :fill %>
        <%end%>
      <%end%>
  </div>
