<h1>Feed</h1>
<% if @posts.present? %>
  <div class="flex-container">
      <% @posts.each do |post|%>
      <%=cl_image_tag post.photo.key, width:400, height: 200, crop: :fill %>
      <p><%= post.account.username %></p>
      <%end%>
  </div>
<% else %>
  <p>you need to post something or make friends!</p>
<% end %>
