<h1>Feed</h1>
<% if @account.posts.present? %>
  <div class="flex-container">
      <% @account.posts.each do |post|%>
      <p><%= post.account.username %></p>
      <%=cl_image_tag post.photo.key, width:400, height: 200, crop: :fill %>
      <%end%>
  </div>
<% else %>
  <p>you need to post something or make friends!</p>
<% end %>
